@*@model IEnumerable<RookieDatabase.ViewModels.RookieViewModel>*@
@model RookieDatabase.ViewModels.PositionViewModel

@{
    ViewData["Title"] = "Position";
}

<h1>@Model.PositionTitle</h1>
<h2>POSITION PAGE</h2>

<p>
    <a asp-action="AddPlayer">Add a new rookie</a>
</p>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Development)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OVR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SPD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AGI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ELU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BCV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JKM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SPM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SFA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TRK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CTH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CIT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SPC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RLS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JMP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.THP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DAC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RUN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PAC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RBK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PBK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TAK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.POW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BSH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FMV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PMV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MCV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZCV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PUR)
            </th>
    </thead>
    <tbody>
        @*<td>
            @Html.DisplayFor(model => model.PlayerName)
        </td>*@
        @foreach (var r in Model.Rookies)
    {
        <tr>

            <td><a asp-action="Edit" asp-route-id="@r.ID">@r.PlayerName</a></td>
            <td>@r.Position</td>
            <td>@r.Age</td>
            <td>@r.Height</td>
            <td>@r.Weight</td>
            <td>@r.Development</td>
            <td>@r.OVR</td>
            <td>@r.SPD</td>
            <td>@r.ACC</td>
            <td>@r.STR</td>
            <td>@r.AGI</td>
            <td>@r.ELU</td>
            <td>@r.BCV</td>
            <td>@r.CAR</td>
            <td>@r.JKM</td>
            <td>@r.SPM</td>
            <td>@r.SFA</td>
            <td>@r.TRK</td>
            <td>@r.CTH</td>
            <td>@r.CIT</td>
            <td>@r.SPC</td>
            <td>@r.RTE</td>
            <td>@r.RLS</td>
            <td>@r.JMP</td>
            <td>@r.THP</td>
            <td>@r.SAC</td>
            <td>@r.MAC</td>
            <td>@r.DAC</td>
            <td>@r.RUN</td>
            <td>@r.PAC</td>
            <td>@r.RBK</td>
            <td>@r.PBK</td>
            <td>@r.IBL</td>
            <td>@r.TAK</td>
            <td>@r.POW</td>
            <td>@r.BSH</td>
            <td>@r.FMV</td>
            <td>@r.PMV</td>
            <td>@r.MCV</td>
            <td>@r.ZCV</td>
            <td>@r.PRS</td>
            <td>@r.PRC</td>
            <td>@r.PUR</td>
        </tr>
}
    </tbody>
</table>
